In [1]:
# conversion of one datatype to another
# implicit and explicit type conversion

#Implicit type conversion

# Python will automatically convert  one data type to another
# Python will not convert data type if both types are the same

first_num = 56
print(f"the type of first_num is {type(first_num)}")  # first_num is integer data type

second_num = 4.5
print(f"the type of second_num is {type(second_num)}") # second_num is float data type

first_num = first_num + second_num # here we are adding integer number to float number it automatically changes to float data types and gives result.

print(first_num)
print(f"the type of total is {type(first_num)}")

the type of first_num is <class 'int'>
the type of second_num is <class 'float'>
60.5
the type of total is <class 'float'>

In [2]:
# Explicit type Conversion

# This type of conversion is manually changed by the user, using required funcion as below:

# int()       => converts any data type to integer
# float()     => converts any data type to float
# str()       => converts any data type to string
# list()      => converts any data type list
# tuple()     => converts any data type to tuples
# set()       => converts any data type to sets
# dict()      => converts any data type to dictionaries

In [3]:
# Examples of Explicit type conversion

x = "5"
print(type(x))    # printing type of x

num = int(x)      # converting type of x and assigning it to num varibale using int() function
print(type(num))

num1 = float(x)   # converting type of x and assigning it to num1 variable using float() funciton
print(type(num1))

<class 'str'>
<class 'int'>
<class 'float'>

In [4]:
first = "123456"
second = 123456

print(type(first))
print(type(second))


char = str(second)   # converting integer with second varibale into string and assigning it to char using str() function.
print(type(char))


sum = int(first) + second   # while adding we convert string variable first to integer , then we can perform addition
print(sum) 
print(type(sum))

<class 'str'>
<class 'int'>
<class 'str'>
246912
<class 'int'>

In [5]:
course = "Django"
print(course)
print(type(course))

l = list(course)  # converting string to list using list() function
print(l)
print(type(l))

t =tuple(course)  # converting string to tuple using tuple() function
print(t)
print(type(t))

s = set(course)   # # converting string to set using set() function
print(s)
print(type(s))

Django
<class 'str'>
['D', 'j', 'a', 'n', 'g', 'o']
<class 'list'>
('D', 'j', 'a', 'n', 'g', 'o')
<class 'tuple'>
{'j', 'D', 'a', 'g', 'n', 'o'}
<class 'set'>

In [6]:
tup = (("a",1),("b", 2),("c", 3))
print(tup)
print(type(tup))

d = dict(tup)   # converting tup tuple to dictionary using dict() function/can only be changed to dict if the data is organized in pairs.
print(d)
print(type(d))

(('a', 1), ('b', 2), ('c', 3))
<class 'tuple'>
{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [7]:
s = "234"
l = list(s)
print(l)

['2', '3', '4']